{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    li{
    padding-right: 200px;
}
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="{% static 'assets/images/best-hospital.jpg' %}" width="100px" class="rounded-circle float-start" alt="...">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/donar/donartable/">Donar views</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/donar/patienttable/">Patient Views</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
            </ul>
            
          </div>
        </div>
      </nav>

      <div class="container-fluid" id="demo">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
    
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'assets/images/world-organ.jpg' %}" class="d-block w-100" height="500px" alt="Slide 4">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'assets/images/Sigin.jpg' %}" class="d-block w-100" height="500px" alt="Slide 3">
                </div>
                <div class="carousel-item ">
                  <img src="{% static 'assets/images/pl.jpg' %}" class="d-block w-100" height="600px" alt="Slide 1">
              </div>
              <div class="carousel-item">
                  <img src="{% static 'assets/images/p4.jpg' %}" class="d-block w-100" height="500px" alt="Slide 2">
              </div>
             
            
              
            </div>
    
            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>