{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    /* #demo{
        width: ;
    } */
</style>

{% block content %}
<div class="container-fluid" id="demo">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'assets/images/world-organ.jpg' %}" class="d-block w-100" height="500px" alt="Slide 4">
            </div>
            <div class="carousel-item">
                <img src="{% static 'assets/images/Sigin.jpg' %}" class="d-block w-100" height="500px" alt="Slide 3">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'assets/images/pl.jpg' %}" class="d-block w-100" height="600px" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'assets/images/p4.jpg' %}" class="d-block w-100" height="500px" alt="Slide 2">
            </div>
           
          
        </div>

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
